html {
  font-family: sans-serif;
  font-size: 20px;
  cursor: default;
  background-image: linear-gradient(
    to right bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    rebeccapurple
  );
  height: 100vh;
}

body {
  margin: 3rem 0 0 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3px;
  background-color: black;
  padding: 6px;
  margin: 2rem auto;

  width: 60vw;
  max-width: 60vh;
  height: 60vw;
  max-height: 60vh;

  font-size: 9vw;
}

.grid__box {
  display: grid;
  place-content: center;
  background-color: white;
}

.grid__box.win {
  color: rebeccapurple;
  background-color: lightcyan;
  font-weight: bold;
}

.current-player,
.game-winner {
  font-size: 2rem;
  text-shadow: 0 0 7px white;
  font-weight: bold;
}

.game-winner p {
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
